**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
app_flask_archetype_data
.mypy_cache
.pytest_cache
instance
tests
docs
start_system_development.sh
stop_system_development.sh
convert_project.sh
.devcontainer
.env
utilities