services:
  app_flask_archetype:
    image: app_flask_archetype:latest
    pull_policy: build
    volumes:
      - .:/app_flask_archetype
    build:
      context: .
      dockerfile: Dockerfile.dev
    network_mode: service:postgres_service
    # if you want to edit outside a devcontainer,uncomment the "ports" config below AND comment out "network_mode: service:postgres_service"
    # ports:
      # - "8080:8080"
    depends_on:
      postgres_service:
        condition: service_healthy
  postgres_service:
    extends:
      file: docker-compose-common.yaml
      service: postgres_service
